.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  padding: 2em;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.toggleDiv {
  display: none;
}
