.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  padding: 2em;
}

.searchField {
  background-color: rgb(255, 255, 255);
  width: 30%;
}

.pagination {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

.toggleDiv {
  display: none;
}
